

<div style="width: 100px; margin-top: 200px;">
    <img src="../../assets/images/hand.png" style="margin-left:400px;" >
</div>
<br>
<br>
<!-- last slide -->

<div className = "bg-gray-50">
    <footer class="position-bottom top-24 relative bg-white">
        <div style="float:left">
                <ul style="list-style-type: none;">
                    <li>
                        <img src ="../../assets/images/dl.png" style="width: 150px;" >
                        <p style="margin-left: 90px;">Follow us on</p>
                    </li>
                        </ul>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" style="margin-left: -10px;" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>



        </div>
    
        <div  style="float:left;margin-left:80px">
            <ul style="list-style-type:none">
                <li><h6 class="font-black text-lg"><strong>Digital-lync</strong></h6></li>
            <li>Signin/signup</li>
            <li>CarrierSupport</li>
            
            </ul>
        </div> 
        <div  style="float:left;margin-left:80px">
            <ul style="list-style-type:none">
                <li><h6 class="font-black text-lg"><strong>Course</strong></h6></li>
            <li>Full Stack Development</li>
            <li>Aws</li>
            <li>Python</li>
            <li>Devops</li>
            </ul>
        </div> 

        <div style="float:left;margin-left:80px;">
            <ul style="list-style-type:none">
                <li><h6 class="font-black text-lg">Programs</h6></li>
            <li>Mean Stack</li>
            <li>Mern Stack</li>
            <li>Aws Cloud</li>
            </ul>
        </div>

    
    
     <h3 style="clear:left" class="text-center ;bg-black">@ Copyright Lync Digital School Pvt.Ltd |2019 | Privacy Policy</h3> 
</footer>
</div> 



