
<div>

    <img src="../../assets/images/gren.png" style="width:100%;"  >
    <div style="position:relative;bottom:300px;color:white">
        <h2>Have a Question</h2>
        <p >we help you go farther than you ever dreamed,24/7</p>
 </div>
        <div style="position: relative;bottom:300px;float: left;">
            <img src="../../assets/images/char.png" style="width: 83px;
            height: 82px;position:relative; bottom:200px;">
            <p style="color:white;margin-left: 100px;margin-top: 20px;"> <strong>+91 6304982304
                <br> India</strong>
            </p>
            </div>
            <div style="position: relative;bottom:300px;float: left;">
                <img src="../../assets/images/usss1.png" style="width: 83px;
                height: 82px;position:relative; bottom:200px;">
                <p style="color:white;margin-left: 100px;margin-top: 20px;"> <strong>+1 4694011246
                    <br> Us</strong>
                </p>
                </div>
                <div style="position: relative;bottom:300px;float: left;">
                    <img src="../../assets/images/msg.png" style="width: 83px;
                    height: 82px;position:relative; bottom:200px;">
                    <p style="color:white;margin-left: 100px;margin-top: 20px;"> <strong>hello @ digital-Lync.com
                        <br> Email</strong>
                    </p>
                    </div>
                    <div style="position: relative;bottom:300px;float: left;">
                        <img src="../../assets/images/chat.png" style="width: 83px;
                        height: 82px;position:relative; bottom:200px;">
                        <p style="color:white;margin-left: 100px;margin-top: 20px;"> <strong>Live Chat
                            <br> India</strong>
                        </p>
                        </div>
                        <div style="clear: left;"></div>
            </div>

    <h3 style="text-align: center;color: #434343;height:20px;position: relative;bottom: 100px;
    ">Locations</h3>
    <p style="color:#515151;text-align:center">Lorem ipsum dolor sit amet, consetetur sadipscing elit, sed diam nonumy eirmod tempor invidunt used diam voluptua.</p>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../../assets/images/hyd.png" alt="Avatar" style="width:50%">
                <div class="container">
                  <h4><b>Gachibowli-Hyderabad</b></h4> 
                  <p>2nd floor, Khajaguda Main Road next to Andhra Bank, Khajaguda
                      <br> - Nanakramguda Rd, near DPS, Gachibowli, Hyderabad,
                      <br> Telangana 500008</p> 
                </div>
              </div>

        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/usa.png" alt="usa" style="width:50%">
                  <div class="container">
                      <h4><b> USA</b></h4>
                      <p>#23664, Richland Grove Dr, Ashburn, VA 20148</p>
                  </div>
            </div>
            
        </div>

    </div>
    <div style="clear:left"></div>
    

    

    