<!-- 1st screen -->
    <div class="conatainer">

    <img src="../../assets/images/main.png" alt="pics" style="width:100%;">
    <div style="position: relative;bottom:500px;left:500px" >
        <h6 style="font-size: 30px;color: #0D3900;margin-top: 70px;
        ">Better, Faster and Stronger with the</h6>
            <h6 style="font-size: 30px;color: #0D3900;margin-left: 50px;
            ">Futuristic DevOps Careers</h6>


<p style="font-size:20px;color:#0D3900;margin-left: -10px;">Get hold of the modern software development and operations approach which 
    <br>allows faster build of products and smarter maintenance of deployments.</p>

    <button type="button"class="btn" style="margin-top: 30px;position: relative;right: 550px;">Which carrier is right for me</button>

</div>
      
</div>


<!-- screenshot -->
<div class="asd" style="position: relative;bottom: 300px;">
    <img src="../../assets/images/map.png" alt="maps" style="width:100% ;height:75%">
</div>


<!-- 3rd slide -->

 <div style="position: relative;bottom: 300px;">
          <div style="height:400px;" class="relative bottom-50 border border-white border-solid;">
            <div class="float-left">
            <img src="../../assets/images/dall.png" alt="admin log" style="height:400px;width:300px;margin-left: 100px;"/>
          </div>
          
            <div style="float:left ;margin-left:390px;margin-top: 100px;">
              <h5 >DeVops skills leads to</h5>
              <h5 >Competitive Salaries</h5>
          </div>
          <br>
          <div style="margin-top:200px;margin-left:800px">
            <p>On average,jobs with slaesforce skills</p>
            <p>pay around INR 36 LPA per year</p>

          </div>
          </div>
          <div class="clear:left">

          </div>

          <!-- </div> -->
        
   
 <!-- 4th slide -->


    <div style="background: #F6F6F6;height:900px;">

    <h2 style="text-align: center;position:relative;right:200px;">Which DevOps course is right for you?</h2>
    <p style="text-align: center;margin-left: 250px;position:relative;right:200px;">Whether you develop or operate, we have a path for you.</p>
    


    
            <div class="card-body" style="float:left;margin-left: 50px;width:300px;height: 200px;border:1px solid white">
                <img src="../../assets/images/sss.png" width="300px" style="margin-right: 10px;">
                
                <img src="../../assets/images/ss.png" style="position: relative;bottom:80px;left:80px;">
              <h5 class="card-title" style="position: relative;bottom:80px;">Devops Architect</h5>
              </div> 
            


            
            <div class="card-body" style="float:left;margin-left: 50px;width:300px;height: 200px;border:1px solid white">
                <img src="../../assets/images/sss.png" width="300px" style="margin-right: 10px;">
                
                <img src="../../assets/images/dc.png" style="position: relative;bottom:80px;left:80px;">
              <h5 class="card-title" style="position: relative;bottom:80px;">Devops Engineer</h5>
              </div>
            
            

            
            <div class="card-body" style="float:left;margin-left: 50px;width:300px;height: 200px;border:1px solid white">
                <img src="../../assets/images/sss.png" width="300px" style="margin-right: 10px;">
                
                <img src="../../assets/images/dc.png" style="position: relative;bottom:80px;left:80px;">
              <h5 class="card-title" style="position: relative;bottom:80px;">Devops Consiltant</h5>
              </div>

              <div style="clear:left">
            </div>
  

            <div class="card-body" style="float:left;margin-left: 50px;width:300px;height: 200px;border:1px solid white;margin-top: 40px;">
                <img src="../../assets/images/sss.png" width="300px" style="margin-right: 10px;">
                
                <img src="../../assets/images/dc.png" style="position: relative;bottom:80px;left:80px;">
              <h5 class="card-title" style="position: relative;bottom:80px;">Devops Consiltant</h5>
              </div>


              <div class="card-body" style="float:left;margin-left: 50px;width:300px;height: 200px;border:1px solid white;margin-top: 40px;">
                <img src="../../assets/images/sss.png" width="300px" style="margin-right: 10px;">
                
                <img src="../../assets/images/dc.png" style="position: relative;bottom:80px;left:80px;">
              <h5 class="card-title" style="position: relative;bottom:80px;">Devops Consiltant</h5>
              
              </div>
              <div style="clear:left"></div>


 <!-- steps            -->

 <div style="height: 700px;margin-top: 100px;">
  <div style="float:left;margin-left: 50px;">
    <h6>Upskill yourself with our
      <br> Cloud & DevOps practice</h6>
      <p>Be one of the most-sought resource that companies
        <br> with open-source oriented jobs are looking for.</p>

  </div>

<div>
   <img src="../../assets/images/steps.png" style="float:left ; height:300px;margin-left: 500px;">
   <div style="clear: left;"></div>
   </div>
   

 </div>
 
  </div>
  <!-- jump -->

 <div style="height:700px">

  
  
    <div style="border:1px solid black;width:500px;height: 250px;float:left;margin-left: 250px;">
      <img src="../../assets/images/fem.png" width="150px" style="margin-left: 150px;">
    <p style="margin-left: 10px;"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
      <br>nonumy eirmod tempor invidunt ut labore et dolore magna <br>
      aliquyam erat, sed diam voluptua. At vero eos et accusam et
      <br> justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
      
    </p>

    
    </div>
    <div style="border:1px solid black;width:500px;height: 250px;float:left;margin-top: 10px;">
    <img src="../../assets/images/fem.png" width="150px" style="margin-left: 150px;">
  <p style="margin-left: 10px;"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
    <br>nonumy eirmod tempor invidunt ut labore et dolore magna <br>
    aliquyam erat, sed diam voluptua. At vero eos et accusam et
    <br> justo duo dolores et ea rebum. Stet clita kasd gubergren,
  </p>

  
  </div>
  <div style="border:1px solid black;background-color: white;width:500px;height: 300px;clear:left;margin-left: 500px;position: relative;bottom: 300px;">
    <img src="../../assets/images/fem.png" width="150px" style="margin-left: 150px;">
  <p style="margin-left: 10px;"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
    <br>nonumy eirmod tempor invidunt ut labore et dolore magna <br>
    aliquyam erat, sed diam voluptua. At vero eos et accusam et
    <br> justo duo dolores et ea rebum. Stet clita kasd gubergren 
    
  </p>

  
  </div>

    
  
    
  
 
    




 


    
    
      
















